/**
 * help
 */

.content p {
    padding-left: 20px;
}

.content p.title {
    color: #f74818;
    padding-left: 0;
}

.content ul {
    margin: 0;
    padding: 0 0 0 20px;
    list-style: none;
}

.content ul li {
	line-height: 30px;
	padding-left: 20px;
	background: url(../img/list.png) left center no-repeat;
}

.content a {
	color: #f74818;
}

pre {
	font-family: "Lucida Console", Monaco, monospace;
	line-height: 20px;
	padding-left: 20px;
}